<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Interactuando-con-el-hardware-del-dispositivo-iOS_Semana-5_EjemploOverlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94E6EC3D1EE018CD00A850E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E6EC511EE018CE00A850E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E6EC5C1EE018CE00A850E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
